{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p><span class="highlight">{{ comment.author }}</span> commented <time datetime="{{ comment.createdAt|date('c') }}">{{ comment.createdAt|date('l, F j, Y') }}</time></p>
        </header>
        <p>{{ comment.content }}</p>
    </article>
{% else %}
    <p>Soyez le premier à commenter...</p>
{% endfor %}
