{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.classe) }}
    {{ form_row(form.race) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.isGuildMember) }}
    {{ form_row(form.roles) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
