<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
<div id="container">
    <div id="header">
        <p id="logo">Ex Nihilo</p>
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
        {% else %}
            <li><a href="{{ path('security_login') }}">Connexion</a><a href="{{ path('user_register') }}">Inscription</a></li>

        {% endif %}
        <div id="nav">
            <a href="{{ path('ex_nihilo_platform_blog') }}">Blog</a>
            <a href="{{ path('ex_nihilo_platform_presentation') }}">La guilde</a>
            <a href="{{ path('ex_nihilo_platform_members') }}">Les membres</a>
            <a href="{{ path('ex_nihilo_platform_events') }}">Les événements</a>
        </div>
    </div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
