{% extends 'ExNihiloPlatformBundle:Back:index.html.twig' %}

{% block content %}
    <h1>Articles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content | slice (0,100) | raw }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_article_delete', { 'id': article.id }) }}">supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_article_new') }}">Create a new article</a>
        </li>
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
