{% extends '::base.html.twig' %}

{% block body %}
    {% if article.image is not null %}
        <img
                src="{{ asset(article.image.webPath) }}"
                alt="{{ article.image.alt }}"
                height="60"
        />
    {% endif %}
    <p>{{ commentNumber }}
        {% if commentNumber > 1 %} commentaires
            {% else %} commentaire
        {% endif %}
    </p>
    <h1>{{ article.title }}</h1>
    <h3>{{ article.createdAt | date ("d/m/Y") }}</h3>
    <p>{{ article.content }}</p>

    <section>
        <h3>Commentaires</h3>
        {% include 'ExNihiloBlogBundle:Comment:view.html.twig' with { 'comments': comments } %}
    </section>

    {% if before == 0 %}
    {% else %}
        <a href="{{ path('article_view', {'id': before}) }}">Article précédent</a>
        <p>{{ beforeTitle }}</p>
    {% endif %}

    {% if next == 0 %}
        {% else %}
            <a href="{{ path('article_view', {'id': next}) }}">Article suivant</a>
            <p>{{ nextTitle }}</p>
    {% endif %}

{% endblock %}