<div>
    <ul style="list-style: none">
        {% for user in users %}
            <div class="row">
                <div class="col-xs-4">{{ user.username }}</div>
                {% if user.gender == 0 %}
                   <div class="col-xs-4"><img src="{{ asset('/images/logos/races/hommes/') }}{{ user.race.name }}.jpg"
                                              alt="{{ user.race.name }}" style="margin: 0px"/></div>
                {% else %}
                <div class="col-xs-4"><img src="{{ asset('/images/logos/races/femmes/') }}{{ user.race.name }}.jpg"
                                           alt="{{ user.race.name }}" style="margin: 0px"/></div>
                {% endif %}
                <div class="col-xs-4"><a href="http://eu.battle.net/wow/fr/character/hyjal/{{ user.username }}/simple">Armurerie</a></div>
            </div>
        {% endfor %}
    </ul>
</div>