<ul>
{% for user in users %}
    <li>
    {{ user.username }}
        {% if user.gender == 0 %}
        <img src="{{ asset('/images/logos/races/hommes/') }}{{ user.race.name }}.png" alt="{{ user.race.name }}"/>
{% else %}
        <img src="{{ asset('/images/logos/races/femmes/') }}{{ user.race.name }}.png" alt="{{ user.race.name }}"/>
{% endif %}
    <a href="http://eu.battle.net/wow/fr/character/hyjal/{{ user.username }}/simple">Armurerie</a>
    </li>
{% endfor %}
</ul>