{% extends '::base.html.twig' %}

{% block body %}
    <div>
        {{ presentation.content }}
    </div>
    <div>
        <img
                src="{{ asset(presentation.imagePresentation.webPath) }}"
                alt="{{ presentation.imagePresentation.alt }}"
                height="100"
        />
    </div>
    <div>
        <img
                src="{{ asset(presentation.image2Presentation.webPath) }}"
                alt="{{ presentation.image2Presentation.alt }}"
                height="100"
        />
    </div>
    <div>
        <img
                src="{{ asset(presentation.image3Presentation.webPath) }}"
                alt="{{ presentation.image3Presentation.alt }}"
                height="100"
        />
    </div>
    <div>
        <img
                src="{{ asset(presentation.image4Presentation.webPath) }}"
                alt="{{ presentation.image4Presentation.alt }}"
                height="100"
        />
    </div>
{% endblock %}