{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.id }}</td>
                <td>{{ classe.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_classe_edit', { 'id': classe.id }) }}">modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_classe_delete', { 'id': classe.id }) }}">supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('admin_classe_new') }}">Create a new classe</a>
        </li>
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(classes) }}
    </div>
{% endblock %}
