{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="holder">
            <div class="holder-content">
                <article class="box-page">
                    <h1>Administration du site</h1>
                    <div class="box-content">
                        <ul class="nav nav-pills box-content">
                            <li><a href="{{ path('admin_article_index') }}">Articles</a></li>
                            <li><a href="{{ path('admin_comment_index') }}">Commentaires</a></li>
                            <li><a href="{{ path('admin_user_index') }}">Membres</a></li>
                            <li><a href="{{ path('admin_event_index') }}">Evénements</a></li>
                            <li><a href="{{ path('admin_presentation_index') }}">Présentation</a></li>
                        </ul>
                        {% block content %}

                        {% endblock %}
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}