{% extends 'ExNihiloPlatformBundle:Back:index.html.twig' %}

{% block content %}
    <h1>Modifier la présentation</h1>
<p class="row">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <p><a href="#" id="add_imagePresentation" class="btn btn-default">Ajouter une image</a></p>
    <div class="cell-1-1 text-align-center"><input type="submit" value="Modifier"/></div>
    {{ form_end(edit_form) }}
</div>

    <ul>
        <li>
            <a href="{{ path('admin_presentation_index') }}">Revenir à la présentation</a>
        </li>
    </ul>

    <script src="https:ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ asset ('js/addImagePresentation.js')}}"></script>
{% endblock %}
